.colorFondo {
    background-color: darkcyan;
}


.colorFuente {
    color :aliceblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.colorFondoDos{
    background-color: aliceblue;
}

